.advantages-wrapper{
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:1199px){
    .advantages-wrapper{
        height: 210px;
    }
}

@media screen and (max-width:1009px){
    .advantages-wrapper{
        height: 175px;
    }
}

@media screen and (max-width:1009px){
    .advantages-wrapper{
        flex-basis: 376px;
    }
}

@media screen and (max-width:800px){
    .advantages-wrapper{
        flex-basis: 165px;
        text-align: center;
    }
}