.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

@media screen and (max-width:1200px){
    .container{
        max-width: 90%;
    }
}

@media screen and (max-width:800px){
    .container{
        flex-direction: column;
    }
}