.form__ok-message, .form__fail-message{
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 500px;
    height: 230px;
    background-color: #030305;
    color: #FFFFFF;
    border-radius: 35px;
    font-size: 30px;
    font-weight: 500;
}