.form__submit{
    background-color: transparent;
    color: #030305;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #030305 ;
    padding: 20px 37px;
    outline: none;
    cursor: pointer;
}


.form__submit:hover, .form__submit:active{
    color: white;
    background-color: #030305;
    transition: 0.5s;
}