.form{
    display: flex;
    width: 440px;
    flex-direction: column;
    height: 285px;
    justify-content: space-between;
}

@media screen and (max-width:476px){
    .form{
        width: 100%;
    }
}
